<ion-header>
  <ion-toolbar position="ion-text-center" color="warning">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="['./assets/logo.png']"></ion-img>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" email ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe </ion-label>
      <ion-input name="password" type="password" ngModel required></ion-input>
    </ion-item>

    <ion-button
      class="ion-margin-top"
      type="submit"
      expand="block"
      color="warning"
    >
      Valider
    </ion-button>

    <ion-item class="ion-text-center">
      <ion-label>Ou </ion-label>
    </ion-item>

    <ion-button
      color="light"
      expand="block"
      fill="outline"
      (click)="onRegister()"
      >Crée un compte
    </ion-button>
  </form>
</ion-content>
