<ion-card>
  <ion-card-header>
    <p>
      <ion-chip color="danger" *ngIf="post.type === 'Perdu'">
        <ion-icon color="danger" name="checkmark-circle"></ion-icon>
        <ion-label color="white">Perdu</ion-label>
      </ion-chip>
      <ion-chip color="success" *ngIf="post.type === 'Trouvé'">
        <ion-icon color="success" name="checkmark-circle"></ion-icon>
        <ion-label color="white">Trouvé</ion-label>
      </ion-chip>
    </p>
    <ion-card-subtitle>A : {{ post.location }}</ion-card-subtitle>

    <ion-card-title>{{ post.title }}</ion-card-title>
  </ion-card-header>
  <div style="display: flex; align-items: center; justify-content: center">
    <ion-img
      *ngIf="post.imagePath !== ''"
      style="max-width: 300px; max-height: 300px"
      [src]="post.imagePath"
    ></ion-img>
  </div>
  <ion-card-content> {{ post.description }} </ion-card-content>
  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <p *ngIf="post.type === 'Perdu'">
      Perdu le {{ post.date | date: "dd/MM/yyyy" }} à :
      {{ post.date | date: "HH:mm" }}
    </p>
    <p *ngIf="post.type === 'Trouvé'">
      Trouvé le {{ post.date | date: "dd/MM/yyyy" }} à :
      {{ post.date | date: "HH:mm" }}
    </p></ion-item
  >
</ion-card>
