<ion-card>
  <ion-card-header>
    <p>{{ post.type }}</p>
    <ion-card-subtitle>A : {{ post.location }}</ion-card-subtitle>

    <ion-card-title>{{ post.title }}</ion-card-title>
  </ion-card-header>
  <div style="display: flex; align-items: center; justify-content: center">
    <ion-img
      *ngIf="post.imagePath !== ''"
      style="max-width: 300px; max-height: 300px"
      [src]="post.imagePath"
    ></ion-img>
  </div>
  <ion-card-content> {{ post.description }} </ion-card-content>
  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <p>{{ post.date | date: "dd/MM/yyyy HH:mm" }}</p></ion-item
  >
</ion-card>
