ion-input.ng-touched.ng-invalid {
  border-bottom: 2px solid red;
}
ion-textarea.ng-touched.ng-invalid {
  border-bottom: 2px solid red;
}
ion-datetime.ng-touched.ng-invalid {
  border-bottom: 2px solid red;
}
