<ion-content padding has-header contentTop="200px">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
    "
  >
    <ion-img [src]="['./assets/logo.png']"></ion-img>
  </div>
  <ion-title class="ion-text-center" style="font-size: xx-large; color: white"
    >Inscrivez-vous!</ion-title
  >

  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" email ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input name="username" type="text" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input name="password" type="password" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ré-entrez votre mot de passe</ion-label>
      <ion-input name="verif" type="password" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Entrez votre emplacement</ion-label>
      <ion-select placeholder="Gouvernorat" name="location" ngModel required>
        <ion-select-option
          *ngFor="let city of listGouvernorat"
          [value]="city"
          >{{ city }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating"
        >Entrez votre numéro de téléphone</ion-label
      >
      <ion-input name="phoneNumber" type="phone" ngModel required></ion-input>
    </ion-item>

    <ion-button
      class="ion-margin-top"
      type="submit"
      expand="block"
      color="success"
    >
      Valider
    </ion-button>
    <ion-button
      class="ion-margin-top"
      type="button"
      expand="block"
      color="warning"
      (click)="onReturn()"
    >
      Retour
    </ion-button>
  </form>
</ion-content>
